Checks: >
  *,-misc-no-recursion,-cppcoreguidelines-pro-bounds-constant-array-index,
  -llvmlibc-*,-modernize-use-trailing-return-type,-readability-identifier-length,
  -altera-*,-modernize-use-nodiscard,-fuchsia-overloaded-operator,
  -modernize-pass-by-value,-fuchsia-default-arguments-calls,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -fuchsia-default-arguments-declarations,-bugprone-easily-swappable-parameters
HeaderFilterRegex: '^(?!.*external).*'
FormatStyle: 'file'
CheckOptions: 
  - key: cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: '1'
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: '1'
WarningsAsErrors: '*'
